body {
    color: #333333;
    font-family: sans-serif;
    margin: 10px;
}
p {
    font-size: 14px;
    line-height: 1.429;
}
.PageTitle {
    font-size: 26px;
    background-color: #F2F2E5;
    border-bottom: solid 1px #F2F2E5;
    padding: 4px 15px;
    line-height: 1.231;
}
.heading-typeA {
    font-size: 18px;
    color: rgb(0, 168, 8);
    border-left: solid 5px #E3E4D9;
    padding-left: 10px;
    line-height: 1.333;
}
section {
    padding-top: 7px;
}
ul li {
    font-size: 14px;
    list-style-type: circle;
    line-height: 1.429;
    padding: 2px;
}
.PortfolioSection table {
    font-size: 14px;
    line-height: 1.429;
    border: solid 1px #CCCCCC;
    border-collapse: collapse;
}
.PortfolioSection table th, .PortfolioSection table td {
    border: solid 1px #CCCCCC;
    padding: 5px 10px;
}
.PortfolioSection table th {
    background-color: #EEEEEE;
    font-weight: normal;
}
.PortfolioSection table td {
    width: 87%;
}
