/* all files */

body {
    margin: 0;
}

ul.sidebar {
    width: 20%;
    height: 100%;
    margin-top: 0;
    padding-left: 0;
    position: sticky;
    background-color: gray;
    position: fixed;
}

.sidebar_item, .sidebar_item_current {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.sidebar_item:hover {
    background-color: rgb(70, 70, 70);
}

ul.sidebar li a {
    margin: auto;
    text-align: center;
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

ul.sidebar li.sidebar_item_current a {
    color: rgb(182, 25, 25);
}

ul.sidebar li.sidebar_item a {
    color: black;
}

#text_area {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    background-color: whitesmoke;
}

#text_area h1 {
    text-align: center;
}